<section>
    <h5>Search service:</h5>
    <div class="dropdown form-control">
        <input
            type="search"
            class="form-control form-control-dark dropdown-toggle"
            placeholder="Select service for getting more info..."  
            id="dropdownMenu"
            data-bs-toggle="dropdown"
            aria-expanded="true"
        >
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu">
            <li *ngFor="let service of services | async">
                <a class="dropdown-item" routerLink="../info/{{service.id}}">{{service.name}}</a>
            </li>
        </ul>
    </div>
</section>