<section class="content">
    <div class="row g-0">
        <div class="col-md-4">
            <img 
                src="{{getPoster(film.id!)}}"
                class="card-img-top"
            >
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <h1 class="card-title">{{film.name}}</h1>
                    </li>
                    <li class="list-group-item">
                        <h4 class="card-text">{{film.description}}</h4>        
                    </li>
                    <li class="list-group-item">
                        <h4 class="card-text text-left">
                            Year: {{film.releaseYear}}
                        </h4>
                    </li>
                    <li class="list-group-item">
                        <h4 class="card-text text-left">
                            Duration: {{film.durationInMinutes}} minutes
                        </h4>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<sessions-list [filmId]="film.id"></sessions-list>