<section>
    <form class="p-3">
        <h5>Search cinema:</h5>
        <input 
            type="search"
            name="search"
            class="form-control form-control-dark"
            placeholder="Input cinema name..."
            (input)="search(cinemaName)"
            [(ngModel)]="cinemaName"
        >
    </form>
    <div class="card-group row row-cols-4 row-cols-md-3 g-4">
        <cdk-virtual-scroll-viewport [itemSize]="10" class="viewport">
            <div class="card mb-3" *cdkVirtualFor="let cinema of cinemas | async">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img 
                            src="{{getPhoto(cinema.id!)}}"
                            class="card-img-top"
                        >
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h3 class="card-title text-left">
                                {{cinema.name}}
                            </h3>
                            <h4 class="card-title text-left">
                                {{cinema.cityName}}
                            </h4>
                            <h5 class="card-text text-left">
                                {{cinema.description}}
                            </h5>
                            <a routerLink="../info/{{cinema.id}}" class="btn btn-lg btn-primary">
                                Details
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </cdk-virtual-scroll-viewport>
    </div>
</section>