<section>
    <h5>Search cinema:</h5>
    <form>
        <input 
            type="search"
            name="search"
            class="form-control form-control-dark"
            [(ngModel)]="cinemaName"
            (keyup)="search(cinemaName)"
            placeholder="Input cinema name..."
        >
    </form>
    <br><br>
    <div class="card-group row row-cols-4 row-cols-md-3 g-4" id="scroll">
        <cdk-virtual-scroll-viewport [itemSize]="10" class="viewport">
            <div class="col" *cdkVirtualFor="let cinema of cinemas | async" >
                <div class="card" >
                    <img class="card-img-top" src="{{getPhoto(cinema.id!)}}">
                    <div class="card-body">
                        <h5 class="card-title text-center">{{cinema.name}}</h5>
                        <h6 class="card-title text-center">{{cinema.cityName}}</h6>
                        <p class="card-text text-center">{{cinema.description}}</p>
                        <a routerLink="../info/{{cinema.id}}" class="btn btn-lg btn-primary">Details</a>
                    </div>
                </div>
            </div>
        </cdk-virtual-scroll-viewport>
    </div>
</section>