<div class="album py-5 bg-light">
    <div class="container">
        <div class="row">
            <div *ngFor="let hall of halls | async" class="col-md-4">
                <div class="card mb-4">
                    <img src="{{getPhoto(hall.id!)}}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{hall.name}}</h5>
                        <button mat-button class="btn btn-primary" (click)="openDialog(hall)">
                            Details
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
