<div class="container">
    <div class="row">
        <div class="col-md-4" *ngFor="let hall of halls | async">
            <div class="card mb-4 box-shadow">
                <img 
                    class="card-img-top"
                    src="{{getPhoto(hall.id!)}}"
                    data-holder-rendered="true"
                >
                <div class="card-body">
                    <h5 class="card-title">{{hall.name}}</h5>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button 
                                mat-button
                                class="btn btn-primary"
                                (click)="openDialog(hall)"
                            >
                                Details
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
