<section class="form-signin text-center">
    <div>
        <form>
            <h1 class="h3 mb-3 fw-normal">Add service</h1>
            <div class="dropdown form-control">
                <input
                    required
                    readonly
                    type="search"
                    name="serviceName"
                    class="form-control form-control-dark dropdown-toggle"
                    placeholder="Select service..."  
                    id="dropdownMenuService"
                    data-bs-toggle="dropdown"
                    aria-expanded="true"
                    [(ngModel)]="model.name"
                    (focus)="getServices()"
                >
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuService">
                    <li *ngFor="let service of services | async">
                        <a class="dropdown-item" (click)="selectService(service)">
                            {{service.name}}
                        </a>
                    </li>
                </ul>
            </div>
            <div class="form-floating input-group mb-2">
                <input
                    required
                    #priceValue="ngModel" 
                    type="number"
                    name="priceValue"
                    class="form-control form-control-dark dropdown-toggle"
                    id="priceValueInput"
                    placeholder="priceValueInput"
                    [(ngModel)]="model.price.value"
                >
                <label for="priceValueInput">Enter price</label>
                <div class="form-control-dark dropdown">
                    <input
                        required
                        readonly
                        type="search"
                        name="currencyName"
                        class="form-control"
                        placeholder="Select currency"  
                        id="dropdownMenuCurrency"
                        data-bs-toggle="dropdown"
                        aria-expanded="true"
                        (focus)="getCurrencies()"
                        [(ngModel)]="model.price.currency.name"
                    >
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuCurrency">
                        <li *ngFor="let currency of currencies | async">
                            <a class="dropdown-item" (click)="selectCurrency(currency)">
                                {{currency.name}}
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <button 
                class="w-100 btn btn-lg btn-primary"
                type="submit"
                (click)="addCinemaService()"
            >
                Add
            </button>
            <div *ngIf="error.exists" class="alert alert-danger">
                {{error.text}}
            </div>
            <div *ngIf="success.flag" class="alert alert-success">
                {{success.text}}
            </div>
        </form>
    </div>
</section>