<section class="content text-center">
    <div class="form-signin">
        <form>
            <img
                class="mb-4"
                src="assets/images/logo_small.png"
                alt=""
                width="72"
                height="57"
            >
            <h1 class="h3 mb-3 fw-normal">User info</h1>
  
            <div class="form-floating">
                <input 
                    readonly
                    type="email"
                    #email="ngModel"
                    name="email"
                    [(ngModel)]="model.email"
                    class="form-control"
                    id="emailInput"
                    placeholder="emailInput"
                    required
                >
                <label for="emailInput">You email:</label>
            </div>

            <div class="form-floating">
                <input type="password" name="password" [(ngModel)]="newPassword" #password="ngModel" minlength="6" class="form-control" id="passwordInput" placeholder="passwordInput" required>
                <label for="passwordInput">Enter new password...</label>
            </div>

            <div 
                *ngIf="(password.invalid && (password.dirty || password.touched))"
                class="alert alert-danger"
            >
                New password must be equal or more than 6 symbols
            </div>
            <button 
                class="w-100 btn btn-lg btn-primary"
                type="submit"
                (click)="editUser()"
            >
                Edit
            </button>
            <button 
                class="w-100 btn btn-lg btn-primary"
                type="submit"
                (click)="deleteUser()"
            >
                Delete
            </button>
        </form>
        <button 
            class="w-100 btn btn-lg btn-secondary"
            type="submit"
            (click)="signOut()"
        >
            Sign Out
        </button>
        <div
            [hidden]="!success.flag"
            class="alert alert-success"
        >
            {{success.text}}
        </div>
    </div>
    <div>
        <div align="center">
            <h2>Orders</h2>
        </div>
        <form>
            <div class="form-group form-inline">
                <h4>Past orders:<input class="form-check-input" type="checkbox"/> </h4>
            </div>
        </form>
        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                <button 
                    class="accordion-button"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapseOne"
                    aria-expanded="true"
                    aria-controls="collapseOne"
                >
                    Order 1
                </button>
                </h2>
                <div 
                    id="collapseOne"
                    class="accordion-collapse collapse show"
                    aria-labelledby="headingOne"
                    data-bs-parent="#accordionExample"
                >
                    <div class="accordion-body">
                        <strong>Order Info</strong>
                    </div>
                </div>
            </div>
          </div>
    </div>
</section>