<div class="card mb-3">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="{{getPhoto(cinema.id!)}}" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h2 class="card-title">{{cinema.name}}</h2>
                <h3 class="card-title">{{cinema.cityName}}</h3>
                <h5 class="card-text">{{cinema.description}}</h5>
            </div>
        </div>
    </div>
</div>
<halls-list [cinemaId]="cinema.id"></halls-list>