<div>
    <div align="center">
        <h2>Orders</h2>
    </div>
    <form>
        <div class="form-group form-inline">
            <h3>
                Past orders:
                <input 
                    class="form-check-input"
                    name="orders"
                    type="checkbox"
                    (change)=getOrders()
                    checked
                    [(ngModel)]="pastOrders"
                /> 
            </h3>
        </div>
    </form>
    <div *ngIf="ordersNumber === 0">
        <h4>
            You have no orders
        </h4>
    </div>
    <div *ngFor="let order of orders | async">
        <div class="accordion" [id]="'accordion' + order.id">
            <div class="accordion-item">
                <h2 class="accordion-header" [id]="'heading' + order.id">
                <a class="text-center text-dark" routerLink="../../cinemas/{{order.cinemaId}}">
                    {{order.cinemaName}}
                </a>
                <p class="text-center">
                    {{order.hallName}}
                </p>
                <button 
                    class="accordion-button"
                    type="button"
                    data-bs-toggle="collapse"
                    aria-expanded="true"
                    (click)="getOrderInfo(order.id)"
                    [attr.data-bs-target]="'#collapse' + order.id"
                    [attr.aria-controls]="'collapse' + order.id"
                >
                    Date: {{getDate(order.sessionStart)}}
                    Time: {{getTime(order.sessionStart)}}
                    Price: {{order.price.value}} {{order.price.currency.name}}
                </button>
                </h2>
                <div 
                    [id]="'collapse' + order.id"
                    class="accordion-collapse collapse"
                    [attr.aria-labelledby]="'heading' + order.id"
                    [attr.data-bs-parent]="'#accordion' + order.id"
                >
                    <div class="accordion-body">
                        <div 
                            class="card"
                            *ngFor="let seatOrder of seatOrders[order.id] | async"
                        >
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    Row: {{seatOrder.row}}
                                    Place: {{seatOrder.place}}
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>