<div class="dialog-content">
    <div class="modal-body">
        <div class="canvas-container">
            <canvas #canvas width="900" height="500px"></canvas>
        </div>
        <div class="canvas-container">
            <canvas #legend width="900" height="100px"></canvas>
        </div>
    </div>
    <div class="modal-footer">
        <button 
            type="button"
            class="btn btn-primary"
            data-bs-dismiss="modal"
            (click)="onNoClick()"
        >
            Close
        </button>
    </div>
</div>