<section class="form-signin text-center">
    <div>
        <form>
            <img class="mb-4" src="assets/images/logo_small.png" alt="" width="72" height="57">
            <h1 class="h3 mb-3 fw-normal">Cinema info</h1>
  
            <div class="form-floating">
                <input
                    required
                    #name="ngModel" 
                    type="text"
                    name="name"
                    class="form-control"
                    id="nameInput"
                    placeholder="nameInput"
                    [(ngModel)]="model.name"
                >
                <label for="nameInput">Enter name...</label>
            </div>
            <div class="form-control">
                <label for="descriptionInput">Enter description...</label>
                <textarea
                    required 
                    type="text"
                    rows="3"
                    name="description"
                    #description="ngModel"
                    class="form-control rounded-0"
                    id="descriptionInput"
                    placeholder="..."
                    (focus)="clearForm($event)"
                    [(ngModel)]="model.description"
                ></textarea>
            </div>
            <div class="dropdown form-control">
                <input
                    type="search"
                    class="form-control form-control-dark dropdown-toggle"
                    name="cityName"
                    placeholder="Enter new city name..."  
                    id="dropdownMenuButton"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                    (keyup)="getCities()"
                    (focus)="clearForm($event)"
                    [(ngModel)]="model.cityName"
                >
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <li *ngFor="let city of cities | async">
                        <a class="dropdown-item" (click)="setCity(city)">{{city.name}}</a>
                    </li>
                </ul>
            </div>
            <div class="form-floating">
                <input
                    #fileInput 
                    type="file"
                    name="file"
                    accept=".jpg, .png, .jpeg|image/*"
                    style="display: none;"
                    (change)="loadPhoto($event)"
                    (focus)="clearForm($event)"
                >
                <button type="button" class="w-100 btn btn-primary"  (click)="fileInput.click()">
                    {{selectedFileName}}
                </button>
                <br><br>
            </div>
            <button class="w-100 btn btn-lg btn-primary" type="submit" (click)="editCinema()">
                Edit
            </button>
            <button class="w-100 btn btn-lg btn-primary" type="submit" (click)="deleteCinema()">
                Delete
            </button>
            <div *ngIf="error.exists" class="alert alert-danger">
                {{error.text}}
            </div>
            <div *ngIf="success.flag" class="alert alert-success">
                {{success.text}}
            </div>
        </form>
    </div>
    <div class="btn-group" role="group">
        <button class="w-100 btn btn-lg btn-primary" (click)="showServices()">
            Show services
        </button>
        <button class="w-100 btn btn-lg btn-primary" (click)="addService()">
            Add service
        </button>
    </div>
    <admin-cinema-service-add 
        *ngIf="showServiceAdd"
        [cinemaId]="model.id"
    ></admin-cinema-service-add>
    <admin-cinema-service-list
        *ngIf="showServiceList"
        [cinemaId]="model.id"
    ></admin-cinema-service-list>
</section>