<section class="content album py-5 bg-light">
    <div class="card-columns">
        <div class="card" *ngFor="let film of films">
            <img class="card-img-top" src="{{getPoster(film.id!)}}">
            <div class="card-body">
                <h5 class="card-title text-center">{{film.name}}</h5>
                <p class="card-text text-center">{{film.releaseYear}}</p>
                <a routerLink="/films/{{film.id}}" class="card-text text-center">More...</a>
            </div>
        </div>
    </div>
    <div (scroll)="onScroll($event)"></div>
</section>
