.form {
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.filters {
    margin: 0 auto;
}

.card-img-top {
    max-width: 500px;
    margin: 0 auto;
    max-height: 500px;
    display: block;
}

a {
    text-decoration: none;
    color: black;
}

.card-body {
    text-align: center;
}
