.form {
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

.card-img-top {
  max-width: 300px;
  margin: 0 auto;
  height: 225px;
  display: block;
}

a {
  text-decoration: none;
  color: black;
}

.card-body {
  text-align: center;
}
