<section class="form-signin text-center">
    <div>
        <form>
            <h1 class="h3 mb-3 fw-normal">Add session</h1>
            <div class="dropdown form-control">
                <input
                    type="search"
                    class="form-control form-control-dark dropdown-toggle"
                    name="filmName"
                    placeholder="Choose film..."
                    id="dropdownMenuButton"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                    (keyup)="getFilms()"
                    (focus)="clearForm($event)"
                    [(ngModel)]="filmName"
                >
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <li *ngFor="let film of films | async">
                        <a class="dropdown-item" (click)="setFilm(film)">
                            {{film.name}} ({{film.releaseYear}})
                        </a>
                    </li>
                </ul>
            </div>
            <div class="dropdown form-control">
                <input
                    type="search"
                    class="form-control form-control-dark dropdown-toggle"
                    name="cinemaName"
                    placeholder="Choose cinema..."
                    id="dropdownMenuButton"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                    (keyup)="getCinemas()"
                    (focus)="clearForm($event)"
                    [(ngModel)]="cinemaName"
                >
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <li *ngFor="let cinema of cinemas | async">
                        <a class="dropdown-item" (click)="setCinema(cinema)">
                            {{cinema.name}} ({{cinema.cityName}})
                        </a>
                    </li>
                </ul>
            </div>
            <div class="dropdown form-control">
                <input
                    readonly
                    type="search"
                    class="form-control form-control-dark dropdown-toggle"
                    name="hallName"
                    placeholder="Choose hall..."
                    id="dropdownMenuButton"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                    (click)="getHalls()"
                    (focus)="clearForm($event)"
                    [(ngModel)]="hallName"
                >
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <li *ngFor="let hall of halls | async">
                        <a class="dropdown-item" (click)="setHall(hall)">
                            {{hall.name}}
                        </a>
                    </li>
                </ul>
            </div>
            <div class="form-control">
                <h6 class="text-justify">Choose date and time</h6>
                <input
                    name="startDateTime"
                    type="datetime-local"
                    class="form-control form-control-dark"
                    [(ngModel)]="model.startDateTime"
                >
            </div>
            <div class="container">
                <div class="row" *ngFor="let seatType of seatTypes | async">
                    <div class="col-sm">
                        {{seatType.name}}
                    </div>
                    <div class="col-sm">
                        <input
                            type="number"
                            name="value"
                            class="form-control form-control-dark"
                            [min]="0"
                            [(ngModel)]="values[seatType.id]"
                        >
                    </div>
                    <div class="col-sm">
                        <input
                            required
                            readonly
                            type="search"
                            name="currencyName"
                            class="form-control"
                            placeholder="Select currency"  
                            id="dropdownMenuCurrency"
                            data-bs-toggle="dropdown"
                            aria-expanded="true"
                            (focus)="getCurrencies()"
                            [(ngModel)]="currency.name"
                        >
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuCurrency">
                            <li *ngFor="let currency of currencies | async">
                                <a class="dropdown-item" (click)="setCurrency(currency)">
                                    {{currency.name}}
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <button class="w-100 btn btn-lg btn-primary" type="submit" (click)="addSession()">
                Add
            </button>
            <div *ngIf="error.exists" class="alert alert-danger">
                {{error.text}}
            </div>
            <div *ngIf="success.flag" class="alert alert-success">
                {{success.text}}
            </div>
        </form>
    </div>
</section>