<section class="form-signin text-center">
    <div>
        <form>
            <img class="mb-4" src="assets/images/logo_small.png" alt="" width="72" height="57">
            <h1 class="h3 mb-3 fw-normal">Add service</h1>
            <div class="form-floating">
                <input
                    #name="ngModel"
                    type="text"
                    name="name"
                    class="form-control"
                    id="nameInput"
                    placeholder="nameInput"
                    [(ngModel)]="model.name"
                    required
                >
                <label for="nameInput">
                    Enter service name...
                </label>
            </div>
            <button class="w-100 btn btn-lg btn-primary" type="submit" (click)="addService()">
                Add
            </button>
            <div *ngIf="error.exists" class="alert alert-danger">
                {{error.text}}
            </div>
            <div *ngIf="success.flag" class="alert alert-success">
                {{success.text}}
            </div>
        </form>
    </div>
</section>