<nav class="navbar navbar-expand-lg bg-primary">
    <div class="container-fluid">
        <button 
            class="navbar-toggler bg-light" 
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mb-2">
                <li>
                    <div class="dropdown">
                        <button class="dropbtn">Users</button>
                        <div class="dropdown-content">
                            <a routerLink="./users">Add user</a>
                            <a routerLink="./users/current">Settings</a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="dropdown">
                        <button class="dropbtn">Cinemas</button>
                        <div class="dropdown-content">
                            <a routerLink="./cinemas">Add cinema</a>
                            <a routerLink="./cinemas/search">Search cinema</a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="dropdown">
                        <button class="dropbtn">Films</button>
                        <div class="dropdown-content">
                            <a routerLink="./films">Add film</a>
                            <a routerLink="./films/search">Search film</a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="dropdown">
                        <button class="dropbtn">Halls</button>
                        <div class="dropdown-content">
                            <a routerLink="./halls">Add hall</a>
                            <a routerLink="./halls/search">Search hall</a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="dropdown">
                        <button class="dropbtn">Sessions</button>
                        <div class="dropdown-content">
                            <a routerLink="./sessions">Add session</a>
                            <a routerLink="./sessions/search">Search session</a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="dropdown">
                        <button class="dropbtn">Services</button>
                        <div class="dropdown-content">
                            <a routerLink="./services">Add service</a>
                            <a routerLink="./services/search">Search service</a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="dropdown">
                        <button class="dropbtn">Currencies</button>
                        <div class="dropdown-content">
                            <a routerLink="./currencies">Add currency</a>
                            <a routerLink="./currencies/search">Search currencies</a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="dropdown">
                        <button class="dropbtn">Seat types</button>
                        <div class="dropdown-content">
                            <a routerLink="./seat-types">Add seat type</a>
                            <a routerLink="./seat-types/search">Search seat types</a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
<router-outlet></router-outlet>