<section class="content">
    <div class="left column">
        <div class="row">
            <div class="dropdown">
                <button class="dropbtn">Users</button>
                <div class="dropdown-content">
                    <a routerLink="./users">Add user</a>
                    <a routerLink="./users/current">Settings</a>
                </div>
            </div>
            <div class="dropdown">
                <button class="dropbtn">Films</button>
                <div class="dropdown-content">
                  <a routerLink="./films">Add film</a>
                  <a routerLink="./films/search">Search film</a>
                </div>
            </div>
            <div class="dropdown">
                <button class="dropbtn">Cinemas</button>
                <div class="dropdown-content">
                  <a routerLink="./cinemas">Add cinema</a>
                  <a routerLink="./cinemas/search">Search cinema</a>
                </div>
            </div>
            <div class="dropdown">
                <button class="dropbtn">Halls</button>
                <div class="dropdown-content">
                  <a routerLink="./halls">Add hall</a>
                  <a routerLink="./halls/search">Search hall</a>
                </div>
            </div>
            <div class="dropdown">
                <button class="dropbtn">Sessions</button>
                <div class="dropdown-content">
                  <a routerLink="./sessions">Add session</a>
                  <a routerLink="./sessions/search">Search session</a>
                </div>
            </div>
            <div class="dropdown">
                <button class="dropbtn">Services</button>
                <div class="dropdown-content">
                  <a routerLink="./services">Add service</a>
                  <a routerLink="./services/search">Search service</a>
                </div>
            </div>
        </div>
    </div>
    <div class="right column">
        <router-outlet></router-outlet>
    </div>
</section>
