.left {
    position: relative;
    left: 0;
    top: 0;
    width: 30%;
    
}

.right {
    position: relative;
    left: 0;
    top: 0;
    width: 70%;
}

.column {
    float: left;
    padding: 16px;
}