<section class="album py-5 bg-light">
  <div class="container">

    <div class="row">
      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <img class="card-img-top" src="../../../assets/images/film.jpg" style="height: 225px; width: 100%; display: block;" data-holder-rendered="true">
          <div class="card-body">
            <p class="card-text text-uppercase text-center">film</p>
            <p class="card-text text-center">film description</p>
            <div>
              <small class="card-text text-center">additional info</small><br>
              <small class="card-text text-center">additional info another</small>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <img class="card-img-top" src="../../../assets/images/film1.jpg" style="height: 225px; width: 100%; display: block;" data-holder-rendered="true">
          <div class="card-body">
            <p class="card-text text-uppercase text-center">film another</p>
            <p class="card-text text-center">another film description</p>
            <div>
              <small class="card-text text-center">additional info</small><br>
              <small class="card-text text-center">additional info another</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="text-center" style="margin-left: auto; margin-right: auto; width: 40%;">
  <div>
    <form>
      <img class="mb-4" src="../../../assets/images/logo_small.png" alt="" width="72" height="57">
      <h1 class="h3 mb-3 fw-normal">Please input something</h1>

      <div class="form-floating">
        <input type="text" class="form-control" id="floatingInput1" placeholder="Input1">
        <label for="floatingInput1">Input1</label>
      </div>
      <div class="form-floating">
        <input type="text" class="form-control" id="floatingInput2" placeholder="Input2">
        <label for="floatingInput2">Input2</label>
      </div>

      <button class="w-100 btn btn-lg btn-primary" type="submit">Submit</button>
    </form>
  </div>
</section>

<nav>
  <ul class="pagination justify-content-center">
    <li class="page-item disabled">
      <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#">Next</a>
    </li>
  </ul>
</nav>
