/* You can add global styles to this file, and also import other style files */

.btn:hover {
  background-color:  #D3875F;
}

.btn {
  border-color: white;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
  background-color: #6D2600;
  border-color: white;
}

.btn-lg {
  background-color: #6D2600;
}

.page-link {
  color: #7D401F;
}
