/* You can add global styles to this file, and also import other style files */
* {
	margin: 0;
	padding: 0;
}

.content {
	min-height: calc(100vh - 150px);
}

.btn:hover {
  background-color:  #D3875F;
}

.btn {
  border-color: white;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
  background-color: #6D2600;
  border-color: white;
}

.btn-lg {
  background-color: #6D2600;
}

.page-link {
  color: #7D401F;
}

.form-signin {
  width: 30%;
  margin: 0 auto;
}