<section>
    <form class="p-3">
        <h5>Search film:</h5>
        <input 
            type="search"
            name="search"
            class="form-control form-control-dark"
            placeholder="Input film name..."
            (keyup)="search()"
            [(ngModel)]="filmName"
        >
    </form>
    <div class="card-group row row-cols-4 row-cols-md-3 g-4">
        <cdk-virtual-scroll-viewport [itemSize]="10" class="viewport">
            <div class="card mb-3" *cdkVirtualFor="let film of films | async">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img 
                            src="{{getPoster(film.id!)}}"
                            class="card-img-top"
                        >
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h3 class="card-title text-left">
                                {{film.name}}
                            </h3>
                            <h4 class="card-title text-left">
                                Year: {{film.releaseYear}}
                            </h4>
                            <a routerLink="../info/{{film.id}}" class="btn btn-lg btn-primary">
                                Details
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </cdk-virtual-scroll-viewport>
    </div>
</section>